[submodule "external/soloud"]
	path = external/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "lotus-engine"]
	path = lotus-engine
	url = https://github.com/tagban/lotus-engine.git
	branch = portjeuno
